<!DOCTYPE html>
<html>

<head>
    <title>Next Up On GeeCON 2011</title>

    <link href="css/style.css" media="all" rel="stylesheet" type="text/css"/>

    <!-- backbone dependencies -->
    <script src="js/backbone/test/vendor/json2.js" type="text/javascript"></script>
    <script src="js/backbone/test/vendor/jquery-1.5.js" type="text/javascript"></script>
    <script src="js/backbone/test/vendor/underscore-1.1.4.js" type="text/javascript"></script>

    <!-- backbone js -->
    <script src="js/backbone/backbone.js" type="text/javascript"></script>
    <script src="js/backbone/examples/backbone-localstorage.js" type="text/javascript"></script>

    <!-- our tooling functions -->
    <script src="js/date.js" type="text/javascript"></script>
    <script src="js/tools.js" type="text/javascript"></script>

    <!-- APPS -->
    <!-- session app -->
    <script src="js/sessions-app.js" type="text/javascript"></script>

    <!-- twitter app -->
    <script src="http://platform.twitter.com/anywhere.js?id=uBGv4o7I1o3O7XkMZONaNw&v=1" type="text/javascript"></script>
    <script src="js/tweets-app.js" type="text/javascript"></script>

    <!-- countdown app -->
    <!--<script src="js/countdown-app.js"></script>-->
</head>

<body>

<section id="sessionsapp">
    <ul id="session-list">
        <!-- will contain all sessions (3 - most of the time) -->
    </ul>

    <div id="countdown-container">
        <span id="funny-note">Will rock the house in...</span>
        <span id="countdown">
            52m 56s
            <!-- will contain countdown -->
        </span>
    </div>
</section>

<section id="tweetsapp">

    <div class="title">
        <h2>Tweets</h2>
    </div>

    <div class="content">
        <div id="tweets">
            <ul id="tweet-list">
                <!-- will contain tweets -->
            </ul>
        </div>
    </div>

</section>

<footer>
    <div id="debug"></div>
    GeeCON 2011 - <a href="https://github.com/ktoso/next-up-on-geecon">fork us on GitHub</a>!
</footer>

<!-- ************************************* Templates ************************************* -->

<script type="text/template" id="tweet-template">
    <article class="tweet">
        <img src="<%= profile_image_url %>" alt="@<%= from_user %>"/>

        <p>
            <%= text %>
        </p>
        <small>
            <%= relativeTime(created_at) %> by <strong>@<%= from_user %> </strong>
        </small>
    </article>
</script>

<script type="text/template" id="session-template">
    <article class="session">
        <h1><%= speaker %></h1>

        <h2><%= topic %></h2>
        <span> in <%= roomName %> (<%= inRoom %>)</span>
    </article>
</script>

<script type="text/template" id="timer-template">
    <div class="timer">
        All sessions start in...
        <% if(timeLeft > 0) {%>
        <%= minutes %>m <%= seconds %>s
        <% } else { %>
        Right now!
        <% } %>
    </div>
</script>

</body>

</html>
